pyrofork
TgCrypto
pillow
PyMuPdf
PyPDF2
convertapi
pyromod
fpdf2
ocrmypdf
motor
psutil
pymongo[srv]
hachoir
pyTelegramBotAPI
aiohttp
aspose-words
pdfkit
beautifulsoup4
requests
arabic-reshaper
python-bidi
flask
gunicorn
aiofiles
aiohttp
beautifulsoup4
lxml
requests
tldextract
