https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
TgCrypto
pillow
PyMuPdf==1.22.2
PyPDF2
convertapi
pyromod==1.5
fpdf2
ocrmypdf
motor
psutil
pymongo[srv]
hachoir
pytelegrambotapi
aiohttp
aspose-words
pdfkit
beautifulsoup4
requests
arabic-reshaper
python-bidi
flask
gunicorn
